@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 7%; /* #121212 */
    --foreground: 0 0% 98%; /* almost white */

    --card: 0 0% 12%; /* #1E1E1E */
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 111 100% 54%; /* #39FF14 */
    --primary-foreground: 0 0% 7%; /* #121212 */

    --secondary: 212 11% 16%; /* #24292F */
    --secondary-foreground: 0 0% 98%;

    --muted: 212 11% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 111 100% 54%;
    --accent-foreground: 0 0% 7%;

    --destructive: 10 100% 57%; /* #FF2400 */
    --destructive-foreground: 0 0% 98%;

    --border: 212 11% 25%;
    --input: 212 11% 25%;
    --ring: 111 100% 54%;

    --chart-1: 111 100% 54%;
    --chart-2: 10 100% 57%;
    --chart-3: 212 11% 16%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 7%; /* #121212 */
    --foreground: 0 0% 98%; /* almost white */

    --card: 0 0% 12%; /* #1E1E1E */
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 111 100% 54%; /* #39FF14 */
    --primary-foreground: 0 0% 7%; /* #121212 */

    --secondary: 212 11% 16%; /* #24292F */
    --secondary-foreground: 0 0% 98%;

    --muted: 212 11% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 111 100% 54%;
    --accent-foreground: 0 0% 7%;

    --destructive: 10 100% 57%; /* #FF2400 */
    --destructive-foreground: 0 0% 98%;

    --border: 212 11% 25%;
    --input: 212 11% 25%;
    --ring: 111 100% 54%;
    
    --chart-1: 111 100% 54%;
    --chart-2: 10 100% 57%;
    --chart-3: 212 11% 16%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
